@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Header {
  animation: opacity 1s forwards;
}

.Header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 5s;
}

.Header ul li {
  width: 100%;
  height: 60px;
}

.Header ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header ul li:nth-child(1).active,
.Header ul li:nth-child(2).active,
.Header ul li:nth-child(3).active,
.Header ul li:nth-child(4).active {
  border-bottom: 3px solid black;
}
