.MainSlider .slick__box01-3 {
 width: 100%;
 height: 100vh;
 background-size: cover;
}

.MainSlider .slick__box01-3 .title-3 {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 60px;
}

/*------------------------------------------------------------------------------*/

.MainSlider .slick__box02-3,
.MainSlider .slick__box03-3,
.MainSlider .slick__box04-3,
.MainSlider .slick__box05-3 {
 width: 100%;
 height: 100vh;
 background-size: cover;
}

.MainSlider .slick__box02-3 .slick__main,
.MainSlider .slick__box03-3 .slick__main,
.MainSlider .slick__box04-3 .slick__main,
.MainSlider .slick__box05-3 .slick__main {
 width: 100%;
 height: 100%;
 display: flex;
}

.MainSlider .slick__box02-3 .slick__main .title-3,
.MainSlider .slick__box03-3 .slick__main .title-3,
.MainSlider .slick__box04-3 .slick__main .title-3,
.MainSlider .slick__box05-3 .slick__main .title-3 {
 width: 50%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 50px;
 margin-top: 70px;
 margin-left: -50px;
 font-weight: 600;
}

.MainSlider .slick__box02-3 .slick__main .content-3,
.MainSlider .slick__box03-3 .slick__main .content-3,
.MainSlider .slick__box04-3 .slick__main .content-3,
.MainSlider .slick__box05-3 .slick__main .content-3 {
 width: 50%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 150px;
}

.MainSlider .slick__box02-3 .slick__main .content-3 img,
.MainSlider .slick__box03-3 .slick__main .content-3 img,
.MainSlider .slick__box04-3 .slick__main .content-3 img,
.MainSlider .slick__box05-3 .slick__main .content-3 img {
 margin-top: 30px;
}

.MainSlider .slick__box02-3 .slick__main .content-3 .txt,
.MainSlider .slick__box03-3 .slick__main .content-3 .txt,
.MainSlider .slick__box04-3 .slick__main .content-3 .txt,
.MainSlider .slick__box05-3 .slick__main .content-3 .txt {
 width: 100%;
 display: flex;
 font-size: 28px;
 line-height: 30px;
}

.MainSlider .slick__box02-3 .slick__main .content-3 .txt .dot,
.MainSlider .slick__box03-3 .slick__main .content-3 .txt .dot,
.MainSlider .slick__box04-3 .slick__main .content-3 .txt .dot,
.MainSlider .slick__box05-3 .slick__main .content-3 .txt .dot {
 color: red;
 font-size: 15px;
}

.MainSlider .slick__box04 .slick02_content {
 display: flex;
 flex-direction: column;
}

.MainSlider .slick__box04 .slick02_content .image03_1 img {
 width: 300px;
 height: 130px;
}

.MainSlider .slick__box04 .slick02_content .image03_2 img {
 width: 400px;
 height: 130px;
}

.MainSlider .slick__box04 .slick02_content .image03_3 img {
 width: 350px;
 height: 250px;
}

.MainSlider .slick__box04 .slick02_content .dialog .dialog_image {
 width: 3000px;
}
